<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Housing Affordability Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    </head>



   	<body>
        <div>
            <header>
                <h1> Housing Affordability Project </h1>
                <div class="topnav">
                    <a class="active" href="/">Home</a>
                    <a href="/index_1">Home Price to Salary</a>
                    <a href="/index_2">Home Price to Affordability</a>
                    <a href="/index_3">Affordability to Unemployment</a>
                    <a href="/map_view">Geographical View</a>
                </div>
            </header>
        </div>

    <div id="content"><img src="{{ url_for('static', filename='images/home.jpg')}}" alt="play bowling" width="250" height="200" class="flt_main">
        
          <p>For our project, we were motivated by various sites like Zillow and some of the visualizations they have produced.  Zillow is considered a leading edge tech company – often appearing with companies like Google on the Kaggle competitions.  Living in California where housing prices are extremely high, it is a very relevant topic. The tools we used include Flask – Leaflet – D3 – HTML – CSS - Javascript<br>
          </p>
          <p>We started our analysis of housing affordability by creating a variable called affordability index.  The affordability index is calculated as median home price divided by median salary.  This is the metric we are using throughout our study.  What does it represent?</p>

          <p>These values range from 2.63 in WV to 13.80 in Hawaii.  There are a couple of ways we can interpret these values:</p>

		  <ol>
		    <li>For every $1,000 of salary in WV, you need $2,630 of house payment.  $13,800 in Hawaii.</li>
		    <li>If you were to pay 100% of your salary towards home-ownership, it would take 2.63 years to pay off a house in WV and 13.8 years to pay off a house in Hawaii.</li>
		  </ol>
    </div>


     <footer>
<p> Team members: Tommy Steed, Patrick Dancel, Christine Assaad, Jungmyun Kim</p></footer>



</body>
</html>
