<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Housing Affordability</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map_view.css') }}">
	</head>




	<body>
        <div>
            <header>
                <h1> Housing Affordability Project </h1>
                <div class="topnav">
                    <a href="home.html">Home</a>
                    <a href="index_1.html">Home Price to Salary</a>
                    <a class="active" href="index_2.html">Home Price to Affordability</a>
                    <a href="index_3.html">Affordability to Unemployment</a>
                    <a href="map_view.html">Geographical View</a>
                </div>
            </header>
        </div>





        
    	
        <iframe src="d3_2.html" height="500" width="1000"></iframe>
        <h3>Data Analysis Results</h3>
        <li>This is what very high positive correlation looks like.  There is obviously a relationship between these two variables.</li>
        <li>Somewhat dubious relationship in the sense that we are correlating a variable on a function of itself.  We are looking at median home price compared
        to affordability index (median salary/median home price).</li>

        <li>If salary increased proportionately with home prices, this would be a horizontal line.  Since this is an upward sloping line, it means housing prices increase faster than salary.</li>

        <li>Vertical lines represent states that are equally affordable but at different home price levels.</li>
        <li>Horizontal lines represent states that have the same median home price, but different affordability index.</li>
        


        
    </body>

</html>