<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Affordability to Unemployment</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/map_view.css">
    </head>



	<body>
        <div>
            <header>
                <h1> Housing Affordability Project </h1>
                <div class="topnav">
                    <a href="home.html">Home</a>
                    <a href="index_1.html">Home Price to Salary</a>
                    <a href="index_2.html">Home Price to Affordability</a>
                    <a class="active" href="index_3.html">Affordability to Unemployment</a>
                    <a href="map_view.html">Geographical View</a>
                </div>
            </header>
        </div>

    	
        <iframe src="templates/d3_3.html" height="500" width="1000"></iframe>
        <h3>Data Analysis Results</h3>
        <li>There does not appear to be a relationship between employment and housing affordability.</li>
        
         <li>Vertical lines represent states with the same unemployment rate but varying affordability index.</li>
         <li>Horizontal lines represent states with the same affordability index but varying unemployment.</li>
         <li>Compare WV and Ohio.  Very similar affordability index, but VERY different unemployment rates.</li>

        
    </body>

</html>